/* ==========================================================================
   Base (Global) Stuff
   ========================================================================== */

*{
  box-sizing: border-box; 
}

html{
	font-family: $font-primary;
	line-height: 1.6;
	-ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
    height: 100%; 
}
body{
	margin: 0; 
	height: 100%; 
	@include font-size($base-unit);
    @include font-smoothing;
}
